{{/* HTML body for searching for anime */}}
{{define "home"}}
<div class="main-container">
            <div class="main wrapper clearfix">
                <article>
                    <header>
                     	<h1>Go AniDB</h1>
				<p>AniDB HTTP interface used to track and download anime.</p>
                    </header>
		    <section>
                        <h2>Anime</h2>
                        <table>
				<tr>
					<th>Name</th>
				</tr>
					{{range .Anime}}
					<tr>					
					<td><a href="/anime/{{.Name}}/">{{.Name}}</td>
					</tr>
					{{end}}
			</table>
                    </section>
                </article>
                <aside>
                    <h3>aside</h3>
                    <p>This is an aside.  I don't know what to do with it yet.</p>
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->
{{end}}
